<?xml version="1.0" encoding="utf-8"?>
<!-- Custom merge: cleartext + explicit launcher.
     Previous empty <application> replaced Unity defaults and left zero activities. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <application
      android:usesCleartextTraffic="true"
      tools:targetApi="28">

    <!-- Unity 6 default Application Entry Point -->
    <activity
        android:name="com.unity3d.player.UnityPlayerGameActivity"
        android:exported="true"
        android:theme="@style/BaseUnityGameActivityTheme"
        android:screenOrientation="fullSensor"
        android:launchMode="singleTask"
        android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale|layoutDirection|density"
        android:resizeableActivity="false"
        android:hardwareAccelerated="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
      <meta-data android:name="android.app.lib_name" android:value="game" />
    </activity>
  </application>
</manifest>
